body {
	margin-left:12px;
	margin-right:12px;
	margin-top:12px;
	font-size: 16px;
	background-color:GhostWhite;
	}
table {
	padding: 4px;
	background-color: lightgrey;
	border-spacing: 4px;
	text-align: left;
	}
.gauche {
	display: inline-table;
    }
.triangle:hover {
	color:red;
	}
.blinking {
    animation:blinkingText 1.2s infinite;
	}
@keyframes blinkingText {
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
	}

#partage1:hover, #partage2:hover {
	box-shadow: -2px -2px Aqua;
	cursor: pointer;
    border-bottom: none;
	}
p {
	text-align:left;
	padding:0px;
	}
.milieu {
	text-align:center;
	}
.shadow {
	border-radius: 26px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
#cartouche {
	background-color:Cyan !important;
	border-radius:5%;
	vertical-align:middle;
	padding:6px !important;
	}
td {
	text-align:left;
	vertical-align:top;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	padding-bottom:0px;
	background-color:white;
	}
.tight {
	height:1.2em !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	}
.bouton {
	background-color: Aquamarine;
	border-radius: 6px;
	box-shadow: -4px -2px Gold;
	font-size: inherit;
	color: DarkBlue;
	}
.copybouton {
	background-color: yellow;
	border-radius: 6px;
	font-size: inherit;
	color: DarkBlue;
	}
.bouton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: none;
	}
.bouton:active {
	background-color: Aquamarine;
	margin-left: 1px 1px 0;
	box-shadow: -1px -1px 1px #000;
	}
.copybouton:hover {
    background-color: DarkBlue;
    color: white;
    box-shadow: none;
	}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
	}
textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: Snow;
	}
.clickrectangle {
	background-color: yellow;
	border-radius: 6px;
	margin-top: 6px;
	margin-bottom: 12px;
	box-shadow: none;
	font-size: small;
	text-align: center;
	vertical-align: middle;
	color: DarkBlue;
	}
.clickrectangle:hover {
	cursor:default;
	background-color: DarkBlue;
    box-shadow: none;
    color: white;
	}

input {
	font-size: small;
	background-color: Cornsilk;
	}
input[type=text]:hover, input[type=number]:hover, input[type=date]:hover, input[type=file]:hover, input[type=mail]:hover, input[type=email]:hover, input[type=password], input[type=submit]:hover, input[type=search]:hover, textarea:hover, select:hover {
	box-shadow: -2px -2px Aqua;
	}
input[type=checkbox]:enabled:hover {
	box-shadow: -2px -2px Aqua;
	}
input[type=radio]:hover {
	box-shadow: -2px -2px Aqua;
	}
input[type=submit] {
	border-radius: 6px;
	margin: 2px;
	}
	
h1 {
	text-align:center;
	}
a:hover {
    border-bottom: 4px solid yellow;
	background-color: Lavender;
	}
a:visited {
    color:rgb(178,59,123);
	}
div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width: 1em;
	}
.tooltip {
    position: relative;
    display: inline-block;
	}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
	}

.tooltip:hover .tooltiptext {
    visibility: visible;
	}

.hidden {
	visibility: hidden;
	position:absolute;
	left: -9999px;
	top: -9999px;
	}
.unhidden {
	visibility: visible;
	}

#showhide {
	 background-color: white;
	 width: 80%;
	}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	.bouton {	
		font-size: small !important;
		}
	.clickrectangle {	
		font-size: small !important;
		}
     }