body.light-mode {
	margin-left:12px;
	margin-right:12px;
	margin-top:12px;
	font-size: 16px;
	background-color:GhostWhite;
	color: black;
	}
body {
	margin-left:12px;
	margin-right:12px;
	margin-top:12px;
	font-size: 16px;
	background-color: black;
	color: GhostWhite;
	}

body.light-mode div {
    background-color: white;
    color: black;
	}
div {
	background-color: black;
    color: GhostWhite;
	}

body.light-mode table {
    background-color: transparent;
    color: black;
	}
table {
    background-color: transparent;
    color: GhostWhite;
	}

body.light-mode td {
    background-color: transparent;
    color: black;
	text-align:left;
	vertical-align:top;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	padding-bottom:0px;
	}
td {
    background-color: transparent; 
    color: GhostWhite;
	text-align:left;
	vertical-align:top;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
	padding-bottom:0px;
	}

body.light-mode .green-text {
    color: seagreen;
    }
.green-text {
    color: greenyellow;
    }

body.light-mode h2 {
    color: black;
    }
h2 {
    color:  magenta;;
    }

body.light-mode h3 {
    color: #007BFF;
	font-size: 140%;
    }
h3 {
    color: #007BFF;
	font-size: 140%;
    }

body.light-mode h4 {
    color: #007BFF;
	font-size: 120%;
    }
h4 {
    color: #007BFF;
	font-size: 120%;
    }

body.light-mode textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: white;
	color: black;
	line-height: 1.5;
	padding: 4px;
	white-space: pre-wrap;
	}
textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: black;
	color: GhostWhite;
	line-height: 1.6;
	padding: 4px;
	white-space: pre-wrap;
	}

body.light-mode .tonalnotes {
    color: darkmagenta;
	}
.tonalnotes {
    color: yellow;
	}

body.light-mode tr {
    background-color: white;
    color: black;
    /*   transition: background-color 0.3s, color 0.3s; */
	}
tr {
    background-color: black;
    color: GhostWhite;
	}

body.light-mode a:link {
	color: #007BFF;
	}
a:link {
	color: aqua;
	text-decoration: none; 
	}
body.light-mode a:visited {
	color: #007BFF;
	}
a:visited {
	color: aqua;
	text-decoration: none; 
	}
body.light-mode a:hover {
    border-bottom: 3px solid yellow;
	}
a:hover {
    border-bottom: 2px solid yellow;
	text-decoration: none;
	cursor: pointer;
	}
a:hover img#darkModeToggle,
a:hover img#darkModeToggle + * {
    border-bottom: none;
    background-color: transparent;
    filter: none;
	}

body.light-mode .linkdotted {
	border-bottom: 2px dotted #007BFF;
	}
.linkdotted {
	border-bottom: none;
	border-bottom: 1px dotted aqua;
	}

body.light-mode .morespace {
	margin-bottom: 0.2em;
	}
.morespace {
	margin-bottom: 0.5em;
	}

body.light-mode .middle {
	vertical-align: middle;
	}
.middle {
	vertical-align: middle;
	}

table {
	padding: 4px;
	border-spacing: 4px;
	text-align: left;
	}

body.light-mode .thicktable {
	background-color:gold;
	border-spacing: 2px;
    border-collapse: separate; 
	}
.thicktable {
	background-color:gold;
	border-spacing: 1px;
    border-collapse: separate; 
	}

body.light-mode th {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 6px;
	background-color:gold;
	color: black;
	vertical-align: top;
	white-space: nowrap;
	}
th {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 6px;
	background-color:gold;
	color: black;
	vertical-align: top;
	white-space: nowrap;
	}

.no-border-spacing {
	border-collapse: collapse; /* Ensures there's no space between cells */		
	}
.no-border-spacing, .no-border-spacing th, .no-border-spacing td {
	border: none;
	}

.gauche {
	display: inline-table;
    }

.triangle:hover {
	color:red;
	}
.blinking {
    animation:blinkingText 1.2s infinite;
	}
@keyframes blinkingText {
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
	}

p {
	text-align:left;
	padding:0px;
	}

body.light-mode .shadow {
	border-radius: 26px;
	background-color:GhostWhite;
	color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
.shadow {
	border-radius: 26px;
	background-color:GhostWhite;
	color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

body.light-mode .disabled {
    opacity: 0.6;
    cursor: auto !important;
	}
.disabled {
    opacity: 0.6;
    cursor: auto !important;
	}

input[type=text] {
	font-size: small;
	background-color: Cornsilk;
	color:black;
	}

body.light-mode .thinborder {
	border:1px solid grey;
	border-radius: 12px;
	}
.thinborder {
	border:1px solid grey;
	border-radius: 12px;
	}

body.light-mode .save {
	background-color: yellow;
	border-radius: 6px;
	}
.save {
	background-color: yellow;
	border-radius: 6px;
	}

body.light-mode .edit {
	color:DarkBlue;
	background-color:Azure; 
	border-radius: 6px;
	}
.edit {
	color:DarkBlue;
	background-color:Azure; 
	border-radius: 6px;
	}

body.light-mode .produce {
	color:DarkBlue;
	background-color:Aquamarine;
	border-radius: 6px;
	}
.produce {
	color:DarkBlue;
	background-color:Aquamarine;
	border-radius: 6px;
	}

.produce:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: none;
	}
.produce:active {
	background-color: Aquamarine;
	margin-left: 1px 1px 0;
	box-shadow: -1px -1px 1px #000;
	}

body.light-mode .produce:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: none;
	}
body.light-mode .produce:active {
	background-color: Aquamarine;
	margin-left: 1px 1px 0;
	box-shadow: -1px -1px 1px #000;
	}

body.light-mode .cancel {
	background-color:Cornsilk;
	}
.cancel {
	background-color:Cornsilk;
	}

body.light-mode .big {
    font-size: large;
	}
.big {
    font-size: large;
	}

body.light-mode .warning {
	background-color:cornsilk;
	padding: 0.5em;
	width: 500px;
	box-shadow: 2px 2px 2px 2px gold;
	border-radius: 6px;
	}
.warning {
	background-color:cornsilk;
	color: black;
	padding: 0.5em;
	width:  500px;
	box-shadow: 2px 2px 2px 2px gold;
	border-radius: 6px;
	}

input[type=submit] {
	border-radius: 6px;
	margin: 2px;
	}
input[type=submit]:hover {
	cursor: pointer;
	}
button:hover {
	cursor: pointer;
	box-shadow: -2px -2px Aqua;
	}

input[type=text]:hover, input[type=number]:hover, input[type=date]:hover, input[type=file]:hover, input[type=mail]:hover, input[type=email]:hover, input[type=password], input[type=submit]:hover, input[type=search]:hover, textarea:hover, select:hover {
	box-shadow: -2px -2px Aqua;
	}
input[type=checkbox]:enabled:hover {
	box-shadow: -2px -2px Aqua;
	cursor: pointer;
	}
input[type=radio]:hover {
	box-shadow: -2px -2px Aqua;
	cursor: pointer;
	}
	
h1 {
	text-align:center;
	}
	
.tooltip {
    position: relative;
    display: inline-block;
	}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
	}

.tooltip:hover .tooltiptext {
    visibility: visible;
	}

.hidden {
	visibility: hidden;
	position:absolute;
	left: -9999px;
	top: -9999px;
	}
.unhidden {
	visibility: visible;
	}

body.light-mode .night {
	display: none;
	}
.night {
	 display: inline;
	}

body.light-mode .day {
	display: inline;
	}
.day {
	 display: none;
	}

body.light-mode #showhide {
	 background-color: white;
	 width: 80%;
	}
#showhide {
	 background-color: black;
	 width: 80%;
	}

body.light-mode .myswitch {
	background-image: url("pict/night.png");
	background-repeat: no-repeat;
	cursor: pointer;
	width: 30px;
	height: 23px;
	display: inline-block;
	position: relative;
	}
.myswitch {
	background-image: url("pict/bulb.png");
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	.bouton {	
		font-size: small !important;
		}
	.clickrectangle {	
		font-size: small !important;
		}
     }

@keyframes flash {
	0%, 100% { opacity: 1; }   /* Fully visible */
	50% { opacity: 0; }        /* Fully transparent */
    }
#refresh {
    animation: flash 2s infinite; /* Animation name, duration, and repeat */
    }