body.light-mode textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: HoneyDew;
	color: black;
	line-height: 1.5;
	padding: 0.5em;
	white-space: pre-wrap;
	}
textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: HoneyDew;
	color: black;
	line-height: 1.6;
	padding: 0.5em;
	white-space: pre-wrap;
	}

body.light-mode .thinborder {
	border:1px solid rgb(2, 82, 82);
	background-color: HoneyDew;
	}
.thinborder {
	border: 1px solid rgb(2, 82, 82);
	background-color: rgb(2, 82, 82);
	}

body.light-mode .thinborder2 {
	background-color: transparent;
	border: 1px solid rgb(2, 82, 82);
	box-shadow: inset 0 0 0 3px HoneyDew;
	}
.thinborder2 {
	background-color: transparent;
	border: 1px solid rgb(2, 82, 82);
	box-shadow: inset 0 0 0 3px rgb(2, 82, 82);
	}
