body.light-mode textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: HoneyDew;
	color: black;
	line-height: 1.5;
	padding: 0.5em;
	white-space: pre-wrap;
	}
textarea {
	overflow: visible;
	overflow-x: hidden;
	background-color: rgb(2, 82, 82);
	color: GhostWhite;
	line-height: 1.6;
	padding: 0.5em;
	white-space: pre-wrap;
	}

body.light-mode .thinborder {
	border:1px solid black;
	background-color: HoneyDew;
	}
.thinborder {
	border: 1px solid grey;
	background-color: rgb(2, 82, 82);
	}
